.row
  .col-sm-1
  .col-sm-9#content
    %h1 Make Payment
    = image_tag "work_progress.png", :class => "media-object"
  .buttons
    .pull-left
      = link_to 'Back to Homepage', '/', type: 'button', class: 'btn btn-default'