Welcome to Demo Shopping app, #{@user.fname + " " + @user.lname}
===============================================

You have successfully signed up to example.com,
your username is: #{@user.email}.

To login to the site, just follow this link: #{link_to 'Click Here to log in', root_url(@user)}.

Thanks for joining and have a great day!