.row
  .col-sm-12#content
    %h3 Featured
    .row.product-layout
      -@products.each do |product|
        .col-lg-3.col-md-3.col-sm-6.col-xs-12
          .product-thumb.transition
            .image
              = link_to image_tag("logo.png", height: 100, width: 200), product_path(product)
            .caption
              %h4
                = product.name
              %p
                = product.description
              %p.price
                Price : Rs. 
                = product.price
            .button-group
              %button{:onclick => "cart.add('43');", :type => "button"}
                %i.fa.fa-shopping-cart
                %span.hidden-xs.hidden-sm.hidden-md Add to Cart
              %button{"data-original-title" => "Add to Wish List", "data-toggle" => "tooltip", :onclick => "wishlist.add('43');", :title => "", :type => "button"}
                %i.fa.fa-heart
              %button{"data-original-title" => "Compare this Product", "data-toggle" => "tooltip", :onclick => "compare.add('43');", :title => "", :type => "button"}
                %i.fa.fa-exchange
      