.row.product-layout
  .col-lg-3.col-md-3.col-sm-6.col-xs-12
    .product-thumb.transition
      .image
        %a{:href => "http://demo.opencart.com/index.php?route=product/product&amp;product_id=43"}
          %img.img-responsive{:alt => "MacBook", :src => "http://demo.opencart.com/image/cache/catalog/demo/macbook_1-200x200.jpg", :title => "MacBook"}/
      .caption
        %h4
          %a{:href => "http://demo.opencart.com/index.php?route=product/product&amp;product_id=43"} MacBook
        %p
          Intel Core 2 Duo processor
          Powered by an Intel Core 2 Duo processor at speeds up to 2.1..
        %p.price
          472.33€
          %span.price-tax Ex Tax: 392.30€
      .button-group
        %button{:onclick => "cart.add('43');", :type => "button"}
          %i.fa.fa-shopping-cart
          %span.hidden-xs.hidden-sm.hidden-md Add to Cart
        %button{"data-original-title" => "Add to Wish List", "data-toggle" => "tooltip", :onclick => "wishlist.add('43');", :title => "", :type => "button"}
          %i.fa.fa-heart
        %button{"data-original-title" => "Compare this Product", "data-toggle" => "tooltip", :onclick => "compare.add('43');", :title => "", :type => "button"}
          %i.fa.fa-exchange
  .col-lg-3.col-md-3.col-sm-6.col-xs-12
    .product-thumb.transition
      .image
        %a{:href => "http://demo.opencart.com/index.php?route=product/product&amp;product_id=40"}
          %img.img-responsive{:alt => "iPhone", :src => "http://demo.opencart.com/image/cache/catalog/demo/iphone_1-200x200.jpg", :title => "iPhone"}/
      .caption
        %h4
          %a{:href => "http://demo.opencart.com/index.php?route=product/product&amp;product_id=40"} iPhone
        %p
          iPhone is a revolutionary new mobile phone that allows you to make a call by simply tapping a nam..
        %p.price
          96.66€
          %span.price-tax Ex Tax: 79.24€
      .button-group
        %button{:onclick => "cart.add('40');", :type => "button"}
          %i.fa.fa-shopping-cart
          %span.hidden-xs.hidden-sm.hidden-md Add to Cart
        %button{"data-original-title" => "Add to Wish List", "data-toggle" => "tooltip", :onclick => "wishlist.add('40');", :title => "", :type => "button"}
          %i.fa.fa-heart
        %button{"data-original-title" => "Compare this Product", "data-toggle" => "tooltip", :onclick => "compare.add('40');", :title => "", :type => "button"}
          %i.fa.fa-exchange
  .col-lg-3.col-md-3.col-sm-6.col-xs-12
    .product-thumb.transition
      .image
        %a{:href => "http://demo.opencart.com/index.php?route=product/product&amp;product_id=42"}
          %img.img-responsive{:alt => "Apple Cinema 30&quot;", :src => "http://demo.opencart.com/image/cache/catalog/demo/apple_cinema_30-200x200.jpg", :title => "Apple Cinema 30&quot;"}/
      .caption
        %h4
          %a{:href => "http://demo.opencart.com/index.php?route=product/product&amp;product_id=42"} Apple Cinema 30"
        %p
          The 30-inch Apple Cinema HD Display delivers an amazing 2560 x 1600 pixel resolution. Designed sp..
        %p.price
          %span.price-new 86.31€
          %span.price-old 95.72€
          %span.price-tax Ex Tax: 70.61€
      .button-group
        %button{:onclick => "cart.add('42');", :type => "button"}
          %i.fa.fa-shopping-cart
          %span.hidden-xs.hidden-sm.hidden-md Add to Cart
        %button{"data-original-title" => "Add to Wish List", "data-toggle" => "tooltip", :onclick => "wishlist.add('42');", :title => "", :type => "button"}
          %i.fa.fa-heart
        %button{"data-original-title" => "Compare this Product", "data-toggle" => "tooltip", :onclick => "compare.add('42');", :title => "", :type => "button"}
          %i.fa.fa-exchange
  .col-lg-3.col-md-3.col-sm-6.col-xs-12
    .product-thumb.transition
      .image
        %a{:href => "http://demo.opencart.com/index.php?route=product/product&amp;product_id=30"}
          %img.img-responsive{:alt => "Canon EOS 5D", :src => "http://demo.opencart.com/image/cache/catalog/demo/canon_eos_5d_1-200x200.jpg", :title => "Canon EOS 5D"}/
      .caption
        %h4
          %a{:href => "http://demo.opencart.com/index.php?route=product/product&amp;product_id=30"} Canon EOS 5D
        %p
          Canon's press material for the EOS 5D states that it 'defines (a) new D-SLR category', while we'r..
        %p.price
          %span.price-new 76.89€
          %span.price-old 95.72€
          %span.price-tax Ex Tax: 62.77€
      .button-group
        %button{:onclick => "cart.add('30');", :type => "button"}
          %i.fa.fa-shopping-cart
          %span.hidden-xs.hidden-sm.hidden-md Add to Cart
        %button{"data-original-title" => "Add to Wish List", "data-toggle" => "tooltip", :onclick => "wishlist.add('30');", :title => "", :type => "button"}
          %i.fa.fa-heart
        %button{"data-original-title" => "Compare this Product", "data-toggle" => "tooltip", :onclick => "compare.add('30');", :title => "", :type => "button"}
          %i.fa.fa-exchange