/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require bootstrap_and_overrides
 *= require_tree .
 *= require_self
 */

 @font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../assets/glyphicons-halflings-regular.eot');
    src: url('../assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../assets/glyphicons-halflings-regular.woff') format('woff'), url('../assets/glyphicons-halflings-regular.ttf') format('truetype'), url('../assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.glyphicon-remove {color: red;}
.glyphicon-edit {color: white;}

.false, .discount {
  color: red;
}

.true, .total{
  color: green;
}

#input-coupon{
  height: 34px;
}

hr {
  border-width: 2px;
  border-color: lightgray;
}

input[id=button-search] {
  margin-top: -9px;
}

#stripe_error {
  color: red;
}

.card {width: 35%;}

.alert {color:red;}
.notice {color: #094A8B;}

.alert, .notice {font-weight: bold; text-align: center;}

.pic{
  margin-left: 50px;
}

.para {
  font-size: 14px;
}