.row
  .col-sm-12#content
    .row
      .col-sm-8
        %ul.thumbnails
          %li
            %a.thumbnail{:href => "http://demo.opencart.com/image/cache/catalog/demo/macbook_1-500x500.jpg", :title => "MacBook"}
              %img{:alt => "MacBook", :src => "http://demo.opencart.com/image/cache/catalog/demo/macbook_1-228x228.jpg", :title => "MacBook"}
          %li.image-additional
            %a.thumbnail{:href => "http://demo.opencart.com/image/cache/catalog/demo/macbook_5-500x500.jpg", :title => "MacBook"}
              %img{:alt => "MacBook", :src => "http://demo.opencart.com/image/cache/catalog/demo/macbook_5-74x74.jpg", :title => "MacBook"}
          %li.image-additional
            %a.thumbnail{:href => "http://demo.opencart.com/image/cache/catalog/demo/macbook_4-500x500.jpg", :title => "MacBook"}
              %img{:alt => "MacBook", :src => "http://demo.opencart.com/image/cache/catalog/demo/macbook_4-74x74.jpg", :title => "MacBook"}
          %li.image-additional
            %a.thumbnail{:href => "http://demo.opencart.com/image/cache/catalog/demo/macbook_2-500x500.jpg", :title => "MacBook"}
              %img{:alt => "MacBook", :src => "http://demo.opencart.com/image/cache/catalog/demo/macbook_2-74x74.jpg", :title => "MacBook"}
          %li.image-additional
            %a.thumbnail{:href => "http://demo.opencart.com/image/cache/catalog/demo/macbook_3-500x500.jpg", :title => "MacBook"}
              %img{:alt => "MacBook", :src => "http://demo.opencart.com/image/cache/catalog/demo/macbook_3-74x74.jpg", :title => "MacBook"}
        %ul.nav.nav-tabs
          %li.active
            %a{"data-toggle" => "tab", :href => "#tab-description"} Description
          %li
            %a{"data-toggle" => "tab", :href => "#tab-specification"} Specification
          %li
            %a{"data-toggle" => "tab", :href => "#tab-review"} Reviews (0)
      .col-sm-4
        .btn-group
          %button.btn.btn-default{"data-original-title" => "Add to Wish List", "data-toggle" => "tooltip", :title => "", :type => "button"}
            %i.fa.fa-heart
          %button.btn.btn-default{"data-original-title" => "Compare this Product", "data-toggle" => "tooltip", :title => "", :type => "button"}
            %i.fa.fa-exchange
        %h1 @product.name
        %ul.list-unstyled
          %li
            Brand:
            %a{:href => "http://demo.opencart.com/index.php?route=product/manufacturer/info&amp;manufacturer_id=8"} Apple
          %li 
            Product Code: 
            = @product.id
          %li Reward Points: 600
          %li Availability: Out Of Stock
        %ul.list-unstyled
          %li
            %h2 
              = @product.price
        #product
          .form-group
            %label.control-label{:for => "input-quantity"} Qty
            %input#input-quantity.form-control{:name => "quantity", :size => "2", :type => "text", :value => "1"}
              %input{:name => "product_id", :type => "hidden", :value => "43"}
                %br
                  %button#button-cart.btn.btn-primary.btn-lg.btn-block{"data-loading-text" => "Loading...", :type => "button"} Add to Cart
        .rating
          %p
            %span.fa.fa-stack
              %i.fa.fa-star-o.fa-stack-1x
            %span.fa.fa-stack
              %i.fa.fa-star-o.fa-stack-1x
            %span.fa.fa-stack
              %i.fa.fa-star-o.fa-stack-1x
            %span.fa.fa-stack
              %i.fa.fa-star-o.fa-stack-1x
            %span.fa.fa-stack
              %i.fa.fa-star-o.fa-stack-1x
            %a{:href => "", :onclick => "$('a[href=\\'#tab-review\\']').trigger('click'); return false;"} 0 reviews
            \/
            %a{:href => "", :onclick => "$('a[href=\\'#tab-review\\']').trigger('click'); return false;"} Write a review
          %hr
      